<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/html_head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <section class="popartStyle container">
      <h1 class="title">EJS Web-site Example</h1>
      <p class="popartText">
        Very simple EJS web-site with party parrot on board!) It doesn't have
        any sense, but still fun to make.
      </p>
    </section>
    <section class="container flex-centered">
      <img src="assets/vikingparrot.gif" alt="Brutal Viking" />
    </section>
    <section class="container mt-5 mb-5">
      <form action="/" method="POST">
        <div class="form-floating">
          <textarea
            class="form-control mt-2 mb-2"
            placeholder="Write down your post here"
            id="floatingTextarea2"
            name="name"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Your post</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </body>
</html>
